.section{
    height: 100vh;
    border: #000000 solid 3px;
    overflow: hidden;

}
.sectionTitle{
    text-transform: uppercase;
    color: navy;
    text-align: center;
}
.contentContainer{
    backdrop-filter: blur(8px);
    width: 50px;
}

.heroSlider{
    width: 100%;
    height: 100vh;
}


.backgroundGrey{
    background-color: rgb(71, 71, 71);
}

.margin0{
    margin: 0 !important;
    margin-left: 0 !important;
}

.navbarChanges{
    border-radius: 40px;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(32, 33, 35, 0.877) !important;
}

.nav-link{
    color: white;
}

#heroContent{
    position: absolute;
    top: 33%;
    z-index: 3;
    width: 100%;
    text-align: center;

}
.content {
    position: fixed;
    top: 33%;
    z-index: 3;
    width: 100%;
    text-align: center;
  }

#heroText{
    font-size: 150px;
    text-align: center;
    
}

#heroSub{
    font-size: 60px;
    letter-spacing: 2.7px;
}

.text-shadow{
    text-shadow: 2px 2px 8px #000000;

}

.customButton{
    border-radius: 4px;
    font-size: 40px;
    background-color: rgba(46, 18, 206, 0.397);
}
.customButton:hover{
    background-color: rgba(70, 68, 68, 0.678);
}

.fullheight{
    height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.text-white{
    color: white;
}

#works-bg{
    background-image: url(./assets/10.jpg);
    background-size: cover;
   background-repeat: no-repeat;
}
#quiz-bg{
    background-image: linear-gradient(0deg, rgba(26, 21, 21, 0.89), rgba(21, 20, 20, 0.911)), url(./assets/quizBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#about-bg{
    background: linear-gradient(0deg, rgba(26, 21, 21, 0.89), rgba(21, 20, 20, 0.911))!important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}
#contact-bg{
    background-image: url(./assets/4.jpg);
}


.sub-col{
    float: left;
    width: 15%;
}
.fullheight{
    max-height: 100%;
}
#work-column-color-5{
    background: rgba(0, 27, 58, 0.95);
}
#work-column-color-4{
    background:rgba(0, 34, 75, 0.95);
}
#work-column-color-3{
    background: rgba(0, 49, 110, 0.95);
}
#work-column-color-2{
    background: rgba(0, 28, 87, 0.95);
}
#work-column-color-1{
    background: rgba(0, 21, 64, 0.95);
}

.element-size{
    border: red solid 5px;
}


#contact-form{
    width: 440px;
    background-color: rgba(255, 255, 255, 0.973);
    border-radius: 16px;
    padding: 40px 35px;
}

#contact-button{
    margin-top: 30px;
    width: 100%;
    padding:15 auto;
    background-color: blue;
    color: white;
}

.contact-spaces{
    margin: 25px auto;
}


#homevideo{
    width: 100vw;
    padding: 0;
    margin: 0 !important;
    z-index: 1;
}

.container-fluid{
    margin: 0 !important;
    width: 100vw;
    padding: 0 !important;
}

#sideBySide{
    display: inline-block;
}
#star{
    font-size: 198px;
}
.fontContainer{
    height: 300px;
}

.float-child {
    float: left;
    padding: 10px;
    padding-bottom: 20px;

    margin-top: 60px;
}  
p.mission{
    margin-top: -34%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 42
}

span.material-symbols-outlined{
    font-size: 96px;
    padding: 0 0;
    color: #1231D4;
}
p.mission{
    margin-top: 31%;
}
body{
    font-family: 'Inter', sans-serif;
}
.heightIT{
    height: 50%;
}

.statement{
    text-align: justify;
    text-justify: inter-word;
    margin: 30px 100px;
  }

  .navbar-brand{
    padding-left: 30px;
    padding-right: -160px;
  }

  .col-lg {
    min-width: 0;
}
 
.columnPosition p{
    color: white;
    margin-top: 25% !important;

}

.white{
    color: rgb(255, 253, 253);
    text-align: center;
}
.first{
    margin-top: 70%;
}
.lineSlideOut{
    width: 230px;
   margin: 10px 60px;
   height: 150px;
   border-width: 3px;
}
#disAppear{
    width: 230px;
    margin: 10px 60px;
    height: 150px;
    border-width: 3px;
    transition: color 3s, width 3s; 
}
#disAppear:hover{
    width: 230px;
    margin: 10px 60px;
    height: 150px;
    border-width: 3px;
}
div.columnHover:hover{
    border: white 1px solid;
    border-radius: 7px;

}

.PageTitlePostion p{
    bottom: 1;
    right: 10;
    z-index: 10;
}
.pageTitle p{
    color: white;
    font-size: 200px;
}

.positionThis{
    position: relative;
    z-index: 1;
}

.ParallaxVideo video{ 
    min-width: 100vw;
    position: fixed;
    top:0;
    z-index: -999;
}
.checkStyle{
    width: 100%;
}

.checkStyle label{
    color: white;
}
.checkWidth{
    width: 80%;
    margin:auto auto;
    margin-top: 20%;
}

.inputWidth{
    width: 70%;
}

#results{
    font-size: 300px;
    color: white;
}