.section{
    width: 100vw;
    height: 100vh;
}
.sectionTitle{
    text-transform: uppercase;
    color: navy;
    text-align: center;
}
.contentContainer{
    backdrop-filter: blur(8px);
    width: 50px;
}

.heroSlider{
    width: 100vw;
    height: 100vh;
}


.backgroundGrey{
    background-color: rgb(71, 71, 71);
}

.margin0{
    margin: 0 !important;
    margin-left: 0 !important;
}

.navbarChanges{
    border-radius: 40px;
    width: 95vw;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.877) !important;


}

#heroContent{
    position: absolute;
    top: 33%;
    z-index: 3;
    width: 100vw;
    text-align: center;

}

#heroText{
    font-size: 150px;
    text-align: center;
    
}

#heroSub{
    font-size: 60px;
    letter-spacing: 2.7px;
}

.text-shadow{
    text-shadow: 2px 2px 8px #000000;

}

.customButton{
    border-radius: 4px;
    font-size: 40px;
    background-color: rgba(46, 18, 206, 0.397);
}
.customButton:hover{
    background-color: rgba(70, 68, 68, 0.678);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.text-white{
    color: white;
}

.bg-grey{
    background-color: #464f54;
}